buildout-cache
python
*.pyc
*.pyo
.DS_Store
._*
bin
parts
develop-eggs
.installed.cfg
*.komodoproject
.mr.developer.cfg
*.site.egg-info
blobstorage
instance
log
filestorage
*.egg-info
*.egg
dist
build
var
*.py~
*.tmproj
.ninjaproject
.ninjaproject/*
